extern/libtorch
.vscode

*.log
*.mult
*.tar
*.gz
*.zip
*.dot

# Compiled QML/JS files
*.qmlc
*.jsc

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.kdev4
build/
obuild/
release/
*~
*.kate-swp
*-build/
CMakeLists.txt.user

# QtCreator
*.creator
*.creator.user

# vim
*.sw?

*.s
.directory
.idea
