*.dot

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.kdev4
build/
obuild/
release/
*~
*.kate-swp
*-build/
CMakeLists.txt.user
