[submodule "lima_linguisticdata/disambiguisationMatrices/eng-ud/UD_English-EWT"]
	path = lima_linguisticdata/disambiguisationMatrices/eng-ud/UD_English-EWT
	url = git@github.com:UniversalDependencies/UD_English-EWT.git
