# 
[Desktop Entry]
Type=Application
Exec=lima %u
MimeType=application/x-your-mime-type;
Icon=lima_gui
X-DocPath=lima/index.html
Terminal=false
Name=lima
GenericName=LIMA GUI
Comment=A user interface for the LIMA multilingual analyzer
Categories=Qt;
