set encoding=utf8
using modex Numex-modex.xml
using groups Numex
set defaultAction=>CreateSpecificEntity()

@NumForm=(t_comma_number,t_dot_number,t_integer)

@NumString=(
deux,
trois,
quatre,
cinq,
six,
sept,
huit,
neuf,
dix,
onze,
douze,
treize,
quatorze,
quinze,
seize,
dix-sept,
dix-huit,
dix-neuf,
vingt,
vingts,
vingt-et-un,
vingt-deux,
vingt-trois,
vingt-quatre,
vingt-cinq,
vingt-six,
vingt-sept,
vingt-huit,
vingt-neuf,
trente,
trente-et-un,
trente-deux,
trente-trois,
trente-quatre,
trente-cinq,
trente-six,
trente-sept,
trente-huit,
trente-neuf,
quarante,
quarante-et-un,
quarante-deux,
quarante-trois,
quarante-quatre,
quarante-cinq,
quarante-six,
quarante-sept,
quarante-huit,
quarante-neuf,
cinquante,
cinquante-et-un,
cinquante-deux,
cinquante-trois,
cinquante-quatre,
cinquante-cinq,
cinquante-six,
cinquante-sept,
cinquante-huit,
cinquante-neuf,
soixante,
soixante-et-un,
soixante-deux,
soixante-trois,
soixante-quatre,
soixante-cinq,
soixante-six,
soixante-sept,
soixante-huit,
soixante-neuf,
septante,
septante-et-un,
septante-deux,
septante-trois,
septante-quatre,
septante-cinq,
septante-six,
septante-sept,
septante-huit,
septante-neuf,
soixante-dix,
soixante-et-onze,
soixante-douze,
soixante-treize,
soixante-quatorze,
soixante-quinze,
soixante-seize,
soixante-dix-sept,
soixante-dix-huit,
soixante-dix-neuf,
huitante,
huitante-et-un,
huitante-deux,
huitante-trois,
huitante-quatre,
huitante-cinq,
huitante-six,
huitante-sept,
huitante-huit,
huitante-neuf,
octante,
octante-et-un,
octante-deux,
octante-trois,
octante-quatre,
octante-cinq,
octante-six,
octante-sept,
octante-huit,
octante-neuf,
quatre-vingt,
quatre-vingts,
quatre-vingt-un,
quatre-vingt-deux,
quatre-vingt-trois,
quatre-vingt-quatre,
quatre-vingt-cinq,
quatre-vingt-six,
quatre-vingt-sept,
quatre-vingt-huit,
quatre-vingt-neuf,
nonante,
nonante-et-un,
nonante-deux,
nonante-trois,
nonante-quatre,
nonante-cinq,
nonante-six,
nonante-sept,
nonante-huit,
nonante-neuf,
quatre-vingt-dix,
quatre-vingt-onze,
quatre-vingt-douze,
quatre-vingt-treize,
quatre-vingt-quatorze,
quatre-vingt-quinze,
quatre-vingt-seize,
quatre-vingt-dix-sept,
quatre-vingt-dix-huit,
quatre-vingt-dix-neuf,
cent,
cents,
mille,
DEUX,
TROIS,
QUATRE,
CINQ,
SIX,
SEPT,
HUIT,
NEUF,
DIX,
ONZE,
DOUZE,
TREIZE,
QUATORZE,
QUINZE,
SEIZE,
DIX-SEPT,
DIX-HUIT,
DIX-NEUF,
VINGT,
VINGTS,
VINGT-ET-UN,
VINGT-DEUX,
VINGT-TROIS,
VINGT-QUATRE,
VINGT-CINQ,
VINGT-SIX,
VINGT-SEPT,
VINGT-HUIT,
VINGT-NEUF,
TRENTE,
TRENTE-ET-UN,
TRENTE-DEUX,
TRENTE-TROIS,
TRENTE-QUATRE,
TRENTE-CINQ,
TRENTE-SIX,
TRENTE-SEPT,
TRENTE-HUIT,
TRENTE-NEUF,
QUARANTE,
QUARANTE-ET-UN,
QUARANTE-DEUX,
QUARANTE-TROIS,
QUARANTE-QUATRE,
QUARANTE-CINQ,
QUARANTE-SIX,
QUARANTE-SEPT,
QUARANTE-HUIT,
QUARANTE-NEUF,
CINQUANTE,
CINQUANTE-ET-UN,
CINQUANTE-DEUX,
CINQUANTE-TROIS,
CINQUANTE-QUATRE,
CINQUANTE-CINQ,
CINQUANTE-SIX,
CINQUANTE-SEPT,
CINQUANTE-HUIT,
CINQUANTE-NEUF,
SOIXANTE,
SOIXANTE-ET-UN,
SOIXANTE-DEUX,
SOIXANTE-TROIS,
SOIXANTE-QUATRE,
SOIXANTE-CINQ,
SOIXANTE-SIX,
SOIXANTE-SEPT,
SOIXANTE-HUIT,
SOIXANTE-NEUF,
SEPTANTE,
SEPTANTE-ET-UN,
SEPTANTE-DEUX,
SEPTANTE-TROIS,
SEPTANTE-QUATRE,
SEPTANTE-CINQ,
SEPTANTE-SIX,
SEPTANTE-SEPT,
SEPTANTE-HUIT,
SEPTANTE-NEUF,
SOIXANTE-DIX,
SOIXANTE-ET-ONZE,
SOIXANTE-DOUZE,
SOIXANTE-TREIZE,
SOIXANTE-QUATORZE,
SOIXANTE-QUINZE,
SOIXANTE-SEIZE,
SOIXANTE-DIX-SEPT,
SOIXANTE-DIX-HUIT,
SOIXANTE-DIX-NEUF,
HUITANTE,
HUITANTE-ET-UN,
HUITANTE-DEUX,
HUITANTE-TROIS,
HUITANTE-QUATRE,
HUITANTE-CINQ,
HUITANTE-SIX,
HUITANTE-SEPT,
HUITANTE-HUIT,
HUITANTE-NEUF,
OCTANTE,
OCTANTE-ET-UN,
OCTANTE-DEUX,
OCTANTE-TROIS,
OCTANTE-QUATRE,
OCTANTE-CINQ,
OCTANTE-SIX,
OCTANTE-SEPT,
OCTANTE-HUIT,
OCTANTE-NEUF,
QUATRE-VINGT,
QUATRE-VINGTS,
QUATRE-VINGT-UN,
QUATRE-VINGT-DEUX,
QUATRE-VINGT-TROIS,
QUATRE-VINGT-QUATRE,
QUATRE-VINGT-CINQ,
QUATRE-VINGT-SIX,
QUATRE-VINGT-SEPT,
QUATRE-VINGT-HUIT,
QUATRE-VINGT-NEUF,
NONANTE,
NONANTE-ET-UN,
NONANTE-DEUX,
NONANTE-TROIS,
NONANTE-QUATRE,
NONANTE-CINQ,
NONANTE-SIX,
NONANTE-SEPT,
NONANTE-HUIT,
NONANTE-NEUF,
QUATRE-VINGT-DIX,
QUATRE-VINGT-ONZE,
QUATRE-VINGT-DOUZE,
QUATRE-VINGT-TREIZE,
QUATRE-VINGT-QUATORZE,
QUATRE-VINGT-QUINZE,
QUATRE-VINGT-SEIZE,
QUATRE-VINGT-DIX-SEPT,
QUATRE-VINGT-DIX-HUIT,
QUATRE-VINGT-DIX-NEUF,
CENT,
CENTS,
MILLE
)

@OrdNumber=(
billionième,
centième,
cinquantième,
cinquième,
deuxième,
dixième,
douzième,
huitantième,
huitième,
milliardième,
millionième,
millième,
neuvième,
onzième,
premier,
première,
quarantième,
quatorzième,
quatre-vingtième,
quatrième,
quinzième,
second,
seconde,
seizième,
septantième,
septième,
sixième,
soixantième,
ter,
treizième,
trentième,
trillionème,
troisième,
unième,
vingtième
)

@NumberAfterConj=(un,onze,demi)

un:::NOT_NUMBER:
une:::NOT_NUMBER:
le:::NOT_NUMBER:
Le:::NOT_NUMBER:
LE:::NOT_NUMBER:

@ChiffreAines=(dizaine,centaine,millier,million,milliard,dizaines,centaines,milliers,millions,milliards,quelque$DET,quelques$DET,plusieurs$DET)

# without units: numbers
@ChiffreAines:(un|1|une):((et @NumberAfterConj)|@NumForm|@NumString){0-6}:NUMBER:=>NormalizeNumber()
@ChiffreAines:(@NumString|@NumForm)?:((et @NumberAfterConj)|@NumForm|@NumString){0-6}:NUMBER:=>NormalizeNumber()
@ChiffreAines:@ChiffreAines: de @ChiffreAines:NUMBER:=>NormalizeNumber()
@ChiffreAines::de @ChiffreAines:NUMBER:=>NormalizeNumber()

#@Number::((et @NumberAfterConj)|@Number){0-n}:NUMBER:=>NormalizeNumber()

# In sport scores like "1 - 1", each integer is a number and the - is not a minus sign
@NumForm:[@NumForm] [(+|-)]::NUMBER:=>NormalizeNumber()


@Decimal=(t_comma_number,t_dot_number)
@SmallDecimalGroup=(t_integer<99)
# integer groups are elements that can be parts of a large number (300 000)    
# integer group cannot be tested by its value: the discriminative criterion is on the length of the number
# e.g. "008" is a correct integer group => LengthInInterval
@IntegerGroup=(t_integer<999)
@LargeNumber=(t_integer>1000)

### Numbers in digits

# 1 234.5
# 12 345.6
# 12 345 678.9
# but also errors like: 12 345 6.7

@possibleStart=(t_integer)
#@SmallDecimalGroup:(+|-)?:@IntegerGroup{0-3} (@Decimal|@IntegerGroup) @ChiffreAines? \%?:NUMBER:=>NormalizeNumber()
# 123 456.7
#@IntegerGroup:(+|-)?:@IntegerGroup{0-3} (@Decimal|@IntegerGroup) @ChiffreAines? \%?:NUMBER:=>NormalizeNumber()
# authorize first of the group to be large
# 1234 567.8
#@LargeNumber:(+|-)?:@IntegerGroup{0-3} (@Decimal|@IntegerGroup) @ChiffreAines? \%?:NUMBER:=>NormalizeNumber()

@possibleStart:(+|-)?:@IntegerGroup{0-3} @IntegerGroup @ChiffreAines? \%?:NUMBER:
+LengthInInterval(right.1,"3,3")
+LengthInInterval(right.2,"3,3")
=>NormalizeNumber()

@possibleStart:(+|-)?:@IntegerGroup{0-3} @Decimal @ChiffreAines? \%?:NUMBER:
+LengthInInterval(right.1,"3,3")
=>NormalizeNumber()

# authorize mixed notation 338.967,50 euros
t_dot_number::, t_integer:NUMBER:=>NormalizeNumber()

@NumForm:(+|-)?:@ChiffreAines? \%?:NUMBER:=>NormalizeNumber()
# allow any list if in string format
@NumString:(+|-)?:@NumString{0-6} @ChiffreAines? \%?:NUMBER:=>NormalizeNumber()

# 12
#@SmallDecimalGroup:(+|-)?:@ChiffreAines? \%?:NUMBER:=>NormalizeNumber()

# 12345
# 1234 millions
#@LargeNumber:(+|-)?:@ChiffreAines? \%?:NUMBER:=>NormalizeNumber()

# 12.3
# 123.4
# 12345.6
#@Decimal:(+|-)?:@ChiffreAines? \%?:NUMBER:=>NormalizeNumber()

# not restrictive enough:  2017 1000 234 is not a number
#@NumForm:(+|-)?:(@NumForm|@Number)? \%?:NUMBER:=>NormalizeNumber()
#@Number:(+|-)?:@Number{0-n} @ChiffreAines? \%?:NUMBER:=>NormalizeNumber()

#@Number:(+|-)?:@ChiffreAines? \%?:NUMBER:=>NormalizeNumber()

# @OrdNumber adds noise
#@OrdNumber:(+|-)?:\%?:NUMBER:=>NormalizeNumber()
